# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Docker/Git
.git
.gitignore
docker-compose.yml
Dockerfile

# Data & Database lokal
*.db
*.sqlite
postgres_data/

# Ide / Editor
.vscode/
.idea/